.header-wrap {
  background: #006699;
  height: 50px;
  header.nav {
    .nav-item {
      float: left;
      display: block;
      line-height: 30px;
      margin: 10px;
      margin-left: 40px;
      text-align: center;
      color:white;
    }
    a {color: white;}
  }
}

.search input {
  width: 190px;
  height: 30px;
  font-family: 'helios';
  border: none;
  outline: none;
  border-radius: 15px;
  padding-left: 32px;
  padding-right: 15px;
}
.search button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 30px;
  position: absolute;
  top:50%;
  left: 0%;
  margin-top: -15px;
  background: url(../../../img/icon-search.png) 50% 50% no-repeat;
}

div .glyphicon-th-list {
  display: none;
}

.hide-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide-nav-small {
    display: none;
  }

  .header-wrap {
    height: 50%;
  }

  div .glyphicon-th-list {
    display: inline;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .glyphicon-th-list:hover {
    color: #00b3ee;
  }

  .show-nav {
    display: block;
    font-size: 20pt;
  }

  .notice {margin-left: 5px;}

}
