
.img-course {
  display: inline-block;
}

.teacher {
  display: inline-block;
}

.img-teacher {
  display: inherit;
}

.cover {
  display: inline-block;
}

.cover img {
  border-radius: 100px;
}

.bubble:hover {
  .cover img {
    border-radius: 0px;
  }
}

.data-right {
  display: inline-block;
  margin-left: 10px;
}

.title {
  font-size: 26pt;
  color: #4182f0;
  margin-bottom: 10px;
}

.text {
  font-size: 14pt;
}

.name-teacher {
  margin-left: 10px;
  font-size: 14pt;
  display: inherit;
}



