
.img-course {
  display: inline-block;
}

.teacher {
  display: inline-block;
}

.img-teacher {
  display: inherit;
}

.cover {
  display: inline-block;
}

.cover {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: 150%;
  background-position: 50%;
  background-repeat: no-repeat;
  float: left;
}

.cover:hover {
  border-radius: 2px;
}

.data-right {
  display: inline-block;
  margin-left: 10px;
  float: left;
}

.title {
  font-size: 26pt;
  color: #4182f0;
  margin-bottom: 10px;
}

.text {
  font-size: 14pt;
}

.name-teacher {
  margin-left: 10px;
  font-size: 14pt;
  display: inherit;
}



