.wrap{

  margin: 20px 50px;
  width: 55%;
  float: right;
}

.data-panel {
float: left;
}

.btn-ok{
 background: #ff9800;
  margin-left: 30px
}

.btn-download{
  margin-left: 20px;
}

.thumbnail{
  float: right;
  margin-right: 200px;
  width: 200px;
}
