.p-left {
  float: left;
}

.p-right {
  float: right;
}

.wrapper {
  min-height: 100%;
  ox-sizing: border-box;
  padding-bottom: 170px;
}

.shad {
  box-shadow: 0 8px 13px -2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.right {
  padding-left: 20px;
}

@media screen and(max-width: 991px) {
  .hide-on-small {
    display: none;
  }
}
