.lnk-edit {
  display: inline-block;
  padding-left: 20px;
  background: url(../img/icon-settings.png) 0 50% no-repeat;
}

.lnk-list {
  padding-left: 30px;
  background: url(../img/icon-list.png) 0 0 no-repeat;
  display: block;
  min-height: 18px;
}

.lnk-apply {
  padding-left: 30px;
  background: url(../img/icon-apply.png) 0 0 no-repeat;
  display: block;
  min-height: 18px;
}

.lnk-play {
  padding-left: 30px;
  background: url(../img/icon-play.png) 0 0 no-repeat;
  display: block;
  min-height: 18px;
}

.lnk-list.f-orange {
  background-image: url(../img/icon-list-orange.png);
}

.lnk-apply.f-orange {
  background-image: url(../img/icon-apply-orange.png);
}

.lnk-play.f-orange {
  background-image: url(../img/icon-play-orange.png);
}
