@font-face {
  font-family: 'helios';
  src: url('../fonts/heliosc.eot');
  src: url('../fonts/heliosc.eot?#iefix') format('embedded-opentype'),
  url('../fonts/heliosc.woff') format('woff'),
  url('../fonts/heliosc.ttf') format('truetype'),
  url('../fonts/heliosc.svg#helioscregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helios-bold';
  src: url('../fonts/heliosc-bold.eot');
  src: url('../fonts/heliosc-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/heliosc-bold.woff') format('woff'),
  url('../fonts/heliosc-bold.ttf') format('truetype'),
  url('../fonts/heliosc-bold.svg#helioscbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'helios';
  font-size: 14px;
  line-height: 1.2;
  color: #333;
}
body {min-width: 1040px; background: #fafafa;}
img {border: 0;}
a {color: inherit; text-decoration: underline;}
a:hover {text-decoration: none;}
b, strong {font-weight: normal; font-family: 'helios-bold';}

.p-left {float:left;}
.p-right {float:right;}

h1, h2, h3 {
  margin:0;
  font-weight: normal;
  font-size: 36px;
}
h3 {font-size: 20px;}
h1.bubble {
  position: relative;
  padding: 0 0 16px 20px;
  border-left: 4px solid #006699;
  border-bottom: 4px solid #006699;
  margin-bottom: 40px;
}
h1.bubble:before {
  position: absolute;
  content: "";
  border-top: 30px solid #006699;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top:100%;
  left:20px;
}
h1.bubble:after {
  position: absolute;
  content: "";
  border-top: 30px solid #fafafa;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top:100%;
  left:20px;
  margin-top: -6px;
}

h3.bubble {
  position: relative;
  padding: 0 0 16px 20px;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}
h3.bubble:before {
  position: absolute;
  content: "";
  border-top: 12px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top:100%;
  left:20px;
}
h3.bubble:after {
  position: absolute;
  content: "";
  border-top: 12px solid #fafafa;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top:100%;
  left:20px;
  margin-top: -1px;
}

.s12 {font-size: 12px;}
.s20 {font-size: 20px;}

.b10 {margin-bottom: 10px !important;}
.b20 {margin-bottom: 20px !important;}
.b25 {margin-bottom: 25px;}
.b30 {margin-bottom: 30px !important;}
.b40 {margin-bottom: 40px !important;}

.f-blue {color: #006699;}
.f-light {color: #ccc;}
.f-orange {color: #ff9800;}
.f-gray {color: #666;}

.bg-orange {background-color: #ff9800;}
.bg-aqua {background-color: #4182f0; }
.bg-white {background-color: #fff;}
.bg-red {background-color: #ff3333;}
.bg-light {background-color: #ccc;}

.pt40 {padding-top: 40px;}

.wrapper {
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 170px;
}

.shad {
  -moz-box-shadow: 0 8px 13px -2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 8px 13px -2px rgba(0,0,0,0.1);
  box-shadow: 0 8px 13px -2px rgba(0,0,0,0.1);
  position: relative;
}

header {
  color: #fff;
  background: #006699;
  height: 50px;
}

footer {
  height: 170px;
  margin-top: -170px;
  color: #fff;
  background: #006699;
  padding: 35px 0;
  font-size: 0;
}
footer .row > div {display: inline-block; vertical-align: bottom; float: none; font-size: 14px;}
footer .text {position: relative; top:5px;}

.menu {list-style: none; text-align: justify; margin: 0; padding: 0;}
.menu li {
  display: inline-block;
  position: relative;
  line-height: 50px;
  vertical-align: middle;
  margin: 0px 20px;
}
.menu:after {display: inline-block; content: ""; width: 100%;}
.menu li .notice {
  position: absolute;
  line-height: 17px;
  min-width: 17px;
  text-align: center;
  border-radius: 9px;
  background: #ff9900;
  display: inline-block;
  top:7px;
  left:100%;
  padding: 0 5px;
  font-size: 13px;
}
.menu li .notice.aqua {background: #4182f0;}
.menu li .caret:before {
  display: inline-block;
  content: "";
  border-top:5px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: relative;
  margin-right: 2px;
}
.search input {
  width: 190px;
  height: 30px;
  font-family: 'helios';
  border: none;
  outline: none;
  border-radius: 15px;
  padding-left: 32px;
  padding-right: 15px;
}
.search button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 30px;
  position: absolute;
  top:50%;
  left: 0%;
  margin-top: -15px;
  background: url(../img/icon-search.png) 50% 50% no-repeat;
}

.subhead {
  background: #fff;
  padding: 30px 0 20px;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #006699;
  text-transform: uppercase;
  line-height: 1.7;
  margin-left: 20px;
  position: relative;
}
.logo img {margin-right: 10px; display: inline-block; width: 70px;position: relative;    float: left;}
.logo span {display: inline-block; width: 200px;    float: right;}
footer .logo {color: #fff; font-size: 19px; top:10px;}
footer .logo img {width: auto;}

.profile-info >div {margin:10px 0;}
.right {padding-left: 20px;}

.lnk-edit {
  display: inline-block;
  padding-left: 20px;
  background: url(../img/icon-settings.png) 0 50% no-repeat;
}

.list-item { margin: 25px 0; border-bottom: 1px solid #666; padding-bottom: 10px;}
.list-item:last-child {border:none;}

.lnk-list {padding-left: 30px; background: url(../img/icon-list.png) 0 0 no-repeat; display: block; min-height: 18px;}
.lnk-apply {padding-left: 30px; background: url(../img/icon-apply.png) 0 0 no-repeat; display: block; min-height: 18px;}
.lnk-play {padding-left: 30px; background: url(../img/icon-play.png) 0 0 no-repeat; display: block; min-height: 18px;}
.lnk-list.f-orange {background-image: url(../img/icon-list-orange.png);}
.lnk-apply.f-orange {background-image: url(../img/icon-apply-orange.png);}
.lnk-play.f-orange {background-image: url(../img/icon-play-orange.png);}


.list-item.number {
  position: relative;
  padding-left: 85px;
  min-height: 120px;
}
.list-item .counter {
  position: absolute;
  top:0;
  left: 0;
  bottom: 10px;
}
.list-item .counter .num {
  width: 65px;
  height: 65px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
.list-item .counter .num span {display: block; font-size: 36px; line-height: 1; padding-top: 5px;}
.list-item .counter .deadline {font-size: 12px; position: absolute; bottom: 0;}

.list-item.number .lnk-list, .list-item.number .lnk-apply, .list-item.number .lnk-play {margin-top: 15px;}

.btn {
  display: inline-block;
  cursor: pointer;
  line-height: 40px;
  font-family: 'helios-bold';
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 0 25px;
  border:none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
.btn-add {padding-left: 55px; background-image: url(../img/icon-add.png); background-repeat: no-repeat; background-position: 25px 50%; }
.btn-edit {padding-left: 55px; background-image: url(../img/icon-settings-white.png); background-repeat: no-repeat; background-position: 25px 50%; }

.btn.sm {font-family: 'helios'; line-height: 30px; border-radius: 6px; padding: 0 20px;}

.item-stud {font-size: 12px; margin:20px 0;}
.item-stud .ava {
  position: relative;
  margin-bottom: 15px;
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50%;
}
.item-stud .ava img {width:65px; display: block;}
.item-stud .status {position: absolute; top:0; left:75px;}
.item-stud a{text-decoration: none;}

.text {line-height: 1.5}
.text img {display: block; margin:25px 0;}
.text p {margin:10px 0;}

.input textarea {
  font-family: 'helios';
  width: 100%;
  outline: none;
  border:2px solid #666;
}
.input textarea {resize: vertical; height: 90px; padding: 10px;}

.comment {position: relative; padding-left: 80px; margin-bottom: 40px;}
.comment .comment {margin:10px 0;}
.comment .img {position: absolute; top:0; left:0; font-size: 12px; text-align: center;}
.comment .img div {width: 65px; height: 65px; overflow: hidden; border-radius: 50%; position: relative; margin-bottom: 8px;}
.comment .img img {width: 100%;}
.comment p {line-height: 1.5; margin-top: 18px; border-bottom: 1px solid #666; padding-bottom: 7px; margin-bottom: 7px;}


